[user]
  name = David Phayanouvong
  email = david.phayanouvong@systemit.fr

[includeIf "gitdir:/work/"]
  path = /work/.gitconfig_work

[alias]
  co = checkout
  st = status -sb
  cm = commit -m
  rv = remote -v
  ll = log --oneline
  del = branch -D
  last = log -1 HEAD --stat
  undo = reset HEAD~
  list-branch = ! git for-each-ref --format=' %(authorname) %09 %(refname)' --sort=authorname
  todo = ! git grep --extended-regexp -I --line-number --break --heading --color=auto 'TODO|FIXME'
  se = !git rev-list --all | xargs git grep -F
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30

[color]
  ui = auto

[credential]
	helper = cache --timeout=31556952
[core]
	editor = vim
[http]
	proxy = http://aproxy.corproot.net:8080
[https]
	proxy = http://aproxy.corproot.net:8080
